fixed/demo/attribute-use-fixed.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/namespace"
           xmlns:ns="http://example.org/namespace">

<xs:element name="Vehicle" type="ns:VehicleType"/>

<xs:complexType name="VehicleType">
  <xs:attribute ref="ns:color" use="optional" fixed="blue"/>
</xs:complexType>

<xs:attribute name="color" type="xs:string"/>
  
</xs:schema>
