fixed/demo/schema-facets.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="yes"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.org/namespace"
  xmlns:ns="http://example.org/namespace"
  >
  
  <element name="TopElement" type="ns:baseType"/>

  <simpleType name="baseType">
    <restriction base="string">
      <minLength value="4" fixed="false"/>
    </restriction>
  </simpleType>

  <simpleType name="derivedType">
    <restriction base="ns:baseType">
      <minLength value="5"/>
    </restriction>
  </simpleType>

  
</schema>
<!--
Local Variables:
mode: sgml
indent-tabs-mode: nil
fill-column: 9999
End:
-->
