fixed/demo/schema-fixed.xsd

<?xml version="1.0" encoding="US-ASCII" standalone="yes"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.org/namespace"
  xmlns:ns="http://example.org/namespace"
  >
  <element name="TopElement">
    <complexType>
      <sequence>
        <element ref="ns:AnElement"/>
      </sequence>
      <attribute ref="ns:anAttribute" fixed="hello" use="optional"/>
    </complexType>
  </element>
  <element name="AnElement" type="string" fixed="element populated by @fixed"/>
  <attribute name="anAttribute"/>
</schema>
<!--
Local Variables:
mode: sgml
indent-tabs-mode: nil
fill-column: 9999
End:
-->
